html, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Gentium Plus', serif;
}
body {
    background-color:white;
}

.math-content {
    background-color: white; 
    padding-left: 25px;
    padding-right: 25px;
    max-width: 600px;
    margin: auto;
}
.external-content{
    padding-top: 30px;
    padding-bottom: 50px;
    border-bottom: solid;
    border-color: lightgray;
    border-width: 1px;
    text-align: justify;
}

.informal-def {
    border-left: solid; 
    border-width: 3px; 
    border-color: rgb(207, 227, 193); 
    padding: 10px;
    background-color: rgb(244, 252, 238);}
.def {
    border-left: solid; 
    border-width: 3px;
    border-color: #cac5bc; 
    background-color: #f2ece3;
    padding: 10px;}
.wip{
    background-color: rgb(255, 230, 225);
    color: red;
    font-style: italic;
    margin-bottom: 10px;
}
.wip::before{
    content: "🎬 Work in progress";
}
.timestamp{
    font-size: small;
    color: lightgrey;
}