*{font-family: 'Gentium Plus', serif;}
body {background-color: rgb(244, 244, 244);}
.math-content {background-color: white; padding: 50px;}
.informal-def {background-color: rgb(223, 243, 210); padding: 10px;}
.def {background-color: #f2ece3; padding: 10px;}